:root {
    --background-color: #F8F0DF;
    --surface: #F7FBFC;
    --text: snow;
    --band-color: #002bdc88;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-image: url("/src/assets/images/blob-scene-haikei-light.svg");*/
    background-size: cover;
    background-color: var(--background-color);
}

.background-waves {
    position: fixed;
    bottom: 0;
    transform: translate(0, 25%);
}

a {
    text-decoration: none;
}

.material-icons {
    vertical-align: middle;
    margin: 1px 2px 1px 1px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.left-content {
    position: fixed;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30%;
}

.left-paper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    max-width: 85%;
    min-height: 80vh;
    padding: 10px;
}

.left-paper-section {
    width: 90%;
}

.profile-pic {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: x-large;
    text-align: center;
}

.right-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-band {
    width: 100%;
    background-color: var(--band-color);
    color: var(--text);
}

.container {
    display: flex;
    justify-content: space-around;
}

.education {
    height: 100%;
}

.technical-skills {
    height: 100%;
}

.technical-header {
    display: flex;
    align-items: center;
}

.skills {
    height: 100%;
}

.work-experience {
    height: 100%;
    max-width: 90%;
    z-index: 10;
}

.card {
    background-color: var(--surface);
}

@media screen and (max-width: 1440px) {
    .work-experience {
        max-width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {

    .root {
        height: auto;
    }

    .content {
        flex-direction: column;
        height: auto;
    }

    .left-content {
        flex: none;
        position: relative;
        max-width: 100%;
    }

    .left-paper {
        height: 100%;
        min-height: auto;
        margin-top: 15px;
        padding: 10px 30px;
    }

    .right-content {
        flex-direction: column-reverse;
        padding: 10px 30px;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .technical-skills {
        height: auto;
        width: 100%;
    }

    .work-experience {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .left-paper {
        margin-top: 0;
    }
}

@media print {
    div, .card {
        break-inside: avoid;
    }
}
