.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background-image: url("/src/assets/images/blob-scene-haikei-light.svg");*/
    background-size: cover;
}

a {
    text-decoration: none;
}

.material-icons {
    vertical-align: middle;
    margin: 1px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 80%;
    height: 80vh;
}

.left-content {
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
}

.left-paper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 80vh;
    padding: 10px;
}

.left-paper-section {
    width: 100%;
}

.profile-pic {
    max-height: 120px;
    max-width: 120px;
    border-radius: 50%;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: x-large;
    text-align: center;
}

.right-content {
    display: flex;
    flex: 8;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.education {
    height: 100%;
}

.technical-skills {
    height: 100%;
}

.technical-header {
    display: flex;
    align-items: center;
}

.skills {
    height: 100%;
}

.work-experience-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.work-experience {
    height: 100%;
    max-width: 60%;
}

.card {
    max-width: 50%;
}

.logo {
    max-height: 30px;
    max-width: 30px;
}

.logo-roulette {
    max-height: 50px;
    display: flex;
    padding: 0 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.logo-roulette::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 900px) {

    .root {
        height: auto;
    }

    .content {
        flex-direction: column;
        height: auto;
    }

    .left-content {
        flex: none;
    }

    .left-paper {
        height: 100%;
        min-height: auto;
        padding: 10px 30px;
    }

    .right-content {
        flex: none;
        padding: 10px 30px;
    }

    .container {
        flex-direction: column;
    }
}
